<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />

    <!-- Queries tag required for Android 11+ (API 30+) package scanning of known fake GPS apps -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
        <package android:name="ru.organizm.fakegps" />
        <package android:name="ru.organizm.mocklocations" />
        <package android:name="com.lexa.fakegps" />
        <package android:name="com.incorporateapps.fakegps" />
        <package android:name="com.incorporateapps.fakegps.fre" />
        <package android:name="com.netspot.fakegps" />
        <package android:name="com.lLocation.pro" />
        <package android:name="com.fakegps.mock" />
        <package android:name="com.marlon.fakegps" />
        <package android:name="com.gogo.fakegps" />
        <package android:name="com.ban.fakegps" />
        <package android:name="com.robert.fakegps" />
        <package android:name="com.tnt.fakegps" />
        <package android:name="com.blogspot.newandroidarchitecture.fakegps" />
        <package android:name="com.lsa.fakegps" />
        <package android:name="com.fly.cool.fakegps" />
        <package android:name="com.location.spoof" />
        <package android:name="cl.jp.fakegps" />
        <package android:name="com.celltower.fakegps" />
        <package android:name="org.fakegps" />
        <package android:name="com.fake.gps.location" />
        <package android:name="com.mock.location" />
        <package android:name="com.king.fakegps" />
        <package android:name="com.py.fakegps" />
        <package android:name="com.dva.mocklocations" />
        <package android:name="com.fsl.mocklocations" />
        <package android:name="com.gps.spoof" />
    </queries>

</manifest>
